## .NET
bin/
obj/
*.user
*.suo
.vs/
*.dotCover

## Angular / Node
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log

## Environment & Logs
*.log
**/appsettings.Development.json
.DS_Store
Thumbs.db
